<% _.each(tasks, function(task) { %>
	<% if (task.get('open')) { %>
	<section data-id="<%= task.get('id') %>" id="task-<%= task.get('id') %>" class="task open">
		<header>
			<button class="completed">Done</button> 
			<h1><%= task.get('name') %></h1>
			<button date-open="notes-<%= task.get('id') %>" class="notes-btn">Notes</button>
			<button date-open="hours-<%= task.get('id') %>" class="hours-btn">Hours</button>
			<button date-open="sub-<%= task.get('id') %>" class="sub-btn">Sub Tasks</button>
		</header>
		<div class="hours" id="hours-<%= task.get('id') %>">
			<p>Due Date: <%= task.get('due') %></p>
			<p>Hours Done: <%= task.get('hours-done') %></p>
			<p>Hours Need to Complete: <%= task.get('hours-needed') %></p>
		</div>	
		<div class="notes" id="notes-<%= task.get('id') %>">
			<p> <%= task.get('notes') %></p>
		</div>
		<div class="sub" id="sub-<%= task.get('id') %>">
			<p> <%= task.get('notes') %></p>
		</div>
	</section>
	<% } %>
<% }); %>

<h2>Completed tasks</h2>

<% _.each(tasks, function(task) { %>
	<% if (!task.get('open')) { %>
		<section data-id="<%= task.get('id') %>" id="task-<%= task.get('id') %>" class="task closed">
		<header>
			<h1><%= task.get('name') %></h1>
			<button date-open="notes-<%= task.get('id') %>" class="notes-btn">Notes</button>
			<button date-open="hours-<%= task.get('id') %>" class="hours-btn">Hours</button>
			<button date-open="sub-<%= task.get('id') %>" class="sub-btn">Sub Tasks</button>
		</header>
		<div class="hours" id="hours-<%= task.get('id') %>">
			<p>Due Date: <%= task.get('due') %></p>
			<p>Hours Done: <%= task.get('hours-done') %></p>
			<p>Hours Need to Complete: <%= task.get('hours-needed') %></p>
		</div>	
		<div class="notes" id="notes-<%= task.get('id') %>">
			<p> <%= task.get('notes') %></p>
		</div>
		<div class="sub" id="sub-<%= task.get('id') %>">
			<p> <%= task.get('notes') %></p>
		</div>
	</section>
	<% } %>
<% }); %>
